clientId=<client-id-of-the-Entra-App-for-SPE>
clientSecret=<client-secret-of-the-Entra-App-for-SPE>
tenantId=<id-of-the-Entra-tenant-where-the-app-registration-lives>
NEXT_PUBLIC_SPE_CONTAINER_TYPE_ID=<container-type-Id-in-SPE>
